

.login{
    height: 100vh;
    width: 100%;
    background: #4d3347;
    display: flex;
    justify-content: center;
    // align-items: center;
    background: linear-gradient(rgb(0 0 0 / 73%), rgb(0 0 0 / 73%)), url('./image.jpg') no-repeat center center;
    background-size: cover; /* Đảm bảo hình ảnh bao phủ toàn màn hình */
    position: relative;
    backdrop-filter: blur(8px);

    // align-items: center;

    .login-content {
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Vazirmatn;
        width: 430px;
        background: rgba(255, 255, 255, 0.1); /* Nền bán trong suốt để nổi bật hơn */
        border-radius: 10px;
        backdrop-filter: blur(0px); /* Giữ nền bên trong rõ ràng */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 

        .login-main {
            background: #412C3A;
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 430px;
            // height: 737px;
            gap: 2rem;
            border-radius: 0px 0px 40px 40px;
            padding: 8rem 0 2rem 0;
            margin-bottom: 2rem;
            .login-top {
                width: 100px;
                height: 124px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                
                h1 {
                    font-family: Vazirmatn;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 37.5px;
                    text-align: left;
                    font-weight: bold;
                    background: linear-gradient(90deg, #EE10B0 -7.89%, #0E9EEF 132.33%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
    
            .login-form {
                color: #ffffff;
                form {
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    gap: 1rem;
    
                    input  {
                        background: #612C4F;
                        &::placeholder {
                            color: #b3b1b1;
                        }
                        box-shadow: -1px 6px 4px 0px #612C4F;
                        font-size: 14px;
                        height: 42px;
                        border: none;
                        padding: 0 12px;
                    }
    
                    h1 {
                        font-family: Vazirmatn;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 37.5px;
                        text-align: center;
                    }
    
                    .form-control.email {
                        color: #ffffff;
                        width: 350px;
                        border-radius: 20px;
                        // 
                        width: Fixed (350px)px;
    
                    }
                    .input-group {
                        width: 350px;
                        .form-control {
                           border-radius: 20px 0 0 20px;
                            color: #ffffff;
                            border-right: #612C4F;
                        
                        }
                        i {
                            background: #612C4F;
                            color: #EE10B0;
                            border-radius: 0 20px 20px 0;
                            border: none;
                            cursor: pointer;
                            box-shadow: -1px 6px 4px 0px #612C4F;

                            &:hover {
                                color: #ffffff;
                            }
                        }
                    }
                    .forgot-password {
                        //styleName: H4;
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        span {
                   
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            h4 {
                                font-family: Vazirmatn;
                                font-size: 14px;
                                font-weight: 800;
                                line-height: 21.88px;
                                // text-align: left;
                                float: left;
                            }
    
                            i {
                                float: left;
                                font-size: 20px;
                            }

                            &:hover {
                                color: #EE10B0;

                            }

                        }
    
                        button {
                            width: 100px;
                            height: 28px;
                            padding: 4px 32px 4px 32px;
                            gap: 10px;
                            border-radius: 5px;
                            // opacity: 0px;
                            background: #EE10B0;
                            font-size: 14px;
                            color: #ffffff;
                            border: none;
                            &:hover {
                                background: #ec37b9;
                            }
                        }
                    }
                }
    
            }
    
            .login-bottom {
                color: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                width: 350px;
    
                div {
                    // width: 145px;
                    height: 42px;
                    padding: 10px 15px 10px 15px;
                    gap: 12px;
                    border-radius: 20px ;
                    border: 2px solid #FFFFFF;
                    display: flex;
                    cursor: pointer;
    
                    &:hover {
                        background-color: #612C4F;
                    }
                }
            }
        }
        
        .login-sign{
            display: flex;
            flex-direction: row;
            gap: 5rem;
            text-align: center;
    
            span {
                width: 203px;
                height: 56px;
                color: #ffffff;
                font-size: 14px;
                top: 779px;
                left: 40px;
                // position: relative;
    
                h2 {
                    //styleName: H2;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 31.25px;
                    text-align: left;
                }
    
                p {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 25px;
                    text-align: left;
                   
                }
            }
    
            .sign-up {
                width: 100px;
                height: 29px;
                padding: 5px 25px 5px 25px;
                gap: 10px;
                border-radius: 5px;
                // opacity: 0px;
                background: #0E9EEF;
                cursor: pointer;
                margin-top: 17px;
                color: #ffffff;
              
                    //styleName: H4;
                    a {
                        text-decoration: none;

                        h4 {
                            font-size: 14px;
                            font-weight: 800;
                            line-height: 21.88px;
                            text-align: left;
                            color: #ffffff;
                            transition: transform 0.3s ease, color 0.3s ease;

                            &:hover {
                                transform: scale(1.1); 
                                color: #f0f0f0;
                            }
                        }
                    }
                
    
               
            }
    
            
        }
    }
  
}
